In [44]:

#import config
import psycopg2
from config import *

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

import sqlalchemy

engine = sqlalchemy.create_engine(database_url)
connection = engine.connect()

# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
# Print all of the classes mapped to the Base
Base.classes.keys()

['confirmed_planets1', 'false_planets']

In [46]:
false_planets_df = pd.read_sql_table('false_planets', engine)
false_planets_df

,koi_name,exoplanet_archive_disposition,orbital_period,transit_epoch,impact_parameter,transit_duration,transit_depth,planetary_radius,equilibrium_temperature,insolation_flux_earth,transit_signal_to_noise,stellar_effective_temperature,stellar_surface_gravity,stellar_radius,ra,decimal_degrees,kepler_band
0,K00752.01,CONFIRMED,9.488036,170.538750,0.146,2.95750,615.8,2.26,793.0,93.59,35.8,5455.0,4.467,0.927,291.93423,48.141651,15.347
1,K00752.02,CONFIRMED,54.418383,162.513840,0.586,4.50700,874.8,2.83,443.0,9.11,25.8,5455.0,4.467,0.927,291.93423,48.141651,15.347
2,K00754.01,FALSE POSITIVE,1.736952,170.307565,1.276,2.40641,8079.2,33.46,1395.0,891.96,505.6,5805.0,4.564,0.791,285.53461,48.285210,15.597
3,K00755.01,CONFIRMED,2.525592,171.595550,0.701,1.65450,603.3,2.75,1406.0,926.16,40.9,6031.0,4.438,1.046,288.75488,48.226200,15.509
4,K00756.01,CONFIRMED,11.094321,171.201160,0.538,4.59450,1517.5,3.90,835.0,114.81,66.5,6046.0,4.486,0.972,296.28613,48.224670,15.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7242,K08198.01,FALSE POSITIVE,373.893980,261.496800,0.963,27.66000,730.0,2.51,206.0,0.42,18.5,5263.0,4.574,0.699,290.93597,47.290730,14.911
7243,K07984.01,FALSE POSITIVE,8.589871,132.016100,0.765,4.80600,87.7,1.11,929.0,176.40,8.4,5638.0,4.296,1.088,298.74921,46.973351,14.478
7244,K07985.01,FALSE POSITIVE,0.527699,131.705093,1.252,3.22210,1579.2,29.35,2088.0,4500.53,453.3,5638.0,4.529,0.903,297.18875,47.093819,14.082
7245,K07987.01,FALSE POSITIVE,0.681402,132.181750,0.147,0.86500,103.6,1.07,2218.0,5713.41,12.3,6173.0,4.447,1.041,294.16489,47.176281,15.385
7246,K07989.01,FALSE POSITIVE,4.856035,135.993300,0.134,3.07800,76.7,1.05,1266.0,607.42,8.2,6469.0,4.385,1.193,297.00977,47.121021,14.826

In [45]:
import pandas as pd

In [ ]:
planets_df = pd.read_sql_table('confirmed_planets1', engine)
planets_df

In [ ]:
metadata = MetaData()

In [ ]:
# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('confirmed_planets1', metadata, autoload=True, autoload_with=engine)

In [ ]:
# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

In [ ]:
table.columns.orbital_period

In [ ]:
planet_table = pd.read_table(table)

In [ ]:
connection.close()

In [ ]:
# scrap code
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
#conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
cur = conn.cursor()
cur.execute("SELECT * FROM confirmed_planets1;")
print(cur.fetchall())
conn.commit()

In [ ]:
cur.close()
conn.close()

In [ ]:
inspector = inspect(engine)

In [ ]:
data = engine.execute("SELECT * FROM confirmed_planets1 limit 10")

for record in data:
    print(record)

In [ ]:
columns = inspector.get_columns('confirmed_planets1')
for column in columns:
    print(column["name"], column["type"])