In [1]:

#import config
import psycopg2
from config import *

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

import sqlalchemy

engine = sqlalchemy.create_engine(database_url)
connection = engine.connect()

# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
# Print all of the classes mapped to the Base
Base.classes.keys()

['confirmed_planets1']

In [2]:
import pandas as pd

In [3]:
planets_df = pd.read_sql_table('confirmed_planets1', engine)
planets_df

,planet_name,planet_mass,planet_radius,distance,host_name,koi_name,exoplanet_archive_disposition,orbital_period,transit_epoch,impact_parameter,...,equilibrium_temperature,insolation_flux,transit_signal_to_noise,tce_planet_number,stellar_effective_temperature,stellar_surface_gravity,stellar_radius,ra,decimal_degrees,kepler_band
0,Kepler-10 b,4.60853,1.481,185.506,Kepler-10,K00072.01,CONFIRMED,0.837491,131.574858,0.022,...,1980.0,3630.32,189.5,2.0,5676.0,4.347,1.044,285.67938,50.241299,10.961
1,Kepler-10 c,7.37000,2.323,185.506,Kepler-10,K00072.02,CONFIRMED,45.294223,138.678725,0.025,...,524.0,17.75,134.8,1.0,5676.0,4.347,1.044,285.67938,50.241299,10.961
2,Kepler-100 b,7.34000,1.320,304.645,Kepler-100,K00041.02,CONFIRMED,6.887071,133.177970,0.696,...,1155.0,420.97,38.2,2.0,5788.0,4.122,1.474,291.38599,41.990269,11.197
3,Kepler-100 c,7.05000,2.200,304.645,Kepler-100,K00041.01,CONFIRMED,12.815904,122.946820,0.580,...,939.0,183.68,106.7,1.0,5788.0,4.122,1.474,291.38599,41.990269,11.197
4,Kepler-100 d,3.00000,1.610,304.645,Kepler-100,K00041.03,CONFIRMED,35.333193,153.982490,0.656,...,670.0,47.52,28.8,3.0,5788.0,4.122,1.474,291.38599,41.990269,11.197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,Kepler-995 b,7.75000,2.700,609.638,Kepler-995,K01881.01,CONFIRMED,28.267274,140.925610,0.010,...,517.0,16.84,42.1,1.0,5132.0,4.457,0.886,284.61572,39.131039,14.907
2616,Kepler-996 b,4.58000,1.980,1216.580,Kepler-996,K01882.01,CONFIRMED,3.770591,133.390880,0.240,...,1272.0,619.65,37.1,1.0,5714.0,4.274,1.208,291.91281,41.533611,14.668
2617,Kepler-997 b,2.42000,1.360,467.568,Kepler-997,K01883.01,CONFIRMED,2.707306,132.430680,0.007,...,1709.0,2012.12,31.7,1.0,6045.0,4.069,1.629,289.23337,49.938931,11.894
2618,Kepler-998 b,5.99000,2.320,986.364,Kepler-998,K01885.01,CONFIRMED,5.653782,131.711540,0.439,...,1020.0,256.14,37.8,1.0,5988.0,4.507,0.934,296.75415,49.208740,14.377
2619,Kepler-999 b,6.08000,2.340,545.063,Kepler-999,K01886.01,CONFIRMED,5.991858,136.882440,0.905,...,1355.0,796.76,32.1,1.0,6157.0,4.049,1.695,299.66046,46.198421,12.239

In [ ]:
metadata = MetaData()

In [ ]:
# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('confirmed_planets1', metadata, autoload=True, autoload_with=engine)

In [ ]:
# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

In [ ]:
table.columns.orbital_period

In [ ]:
planet_table = pd.read_table(table)

In [ ]:
connection.close()

In [ ]:
# scrap code
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
#conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
cur = conn.cursor()
cur.execute("SELECT * FROM confirmed_planets1;")
print(cur.fetchall())
conn.commit()

In [ ]:
cur.close()
conn.close()

In [ ]:
inspector = inspect(engine)

In [ ]:
data = engine.execute("SELECT * FROM confirmed_planets1 limit 10")

for record in data:
    print(record)

In [ ]:
columns = inspector.get_columns('confirmed_planets1')
for column in columns:
    print(column["name"], column["type"])